
body {
    font-family: Arial, sans-serif, bold;
    background-color:lightblue;;
     display: flex; 
     justify-content: center;
    align-items: center; 
}


h1{
	margin-top: 6%;
	margin-left: 2%;
}




form {
	margin-top:10px;
	margin-left:20px;
    background-color: #ffffff;
    padding: 22px;
    border-radius: 10px;
    box-shadow: 4px 1px 8px;
    box-shadow:aqua;
    width: 400px;
}


form input[type="text"]{
    width: 90%;
    padding: 9px;
    margin-bottom: 6px;
    border: 2px solid #ccc;
    border-radius: 4px;
}


form input[type="submit"] {
    width: 35%;
    padding: 10px;
    margin: 10px 1%;
    border: 5px;
    border-radius: 10px;
    background-color: darkblue;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

form input[type="submit"]:hover {
    background-color: darkblue;
}

p{
	font-family: sans-serif,bold,fantasy;
	color: red;
 	margin-left: 5px;
 	margin-bottom: 10px
}